body {
  background-color: #e6eaea;
  padding: 0px;
  margin: 0px;
}

.card {
  border-radius: 0px;
}
.top {
  background-color: #f5f5f5;
  box-shadow: 1px 1px 1px rgb(0 0 0 / 0%);
}
.card-chat-image-lite {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #435f7b;
}
.card-chat-image-dark {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  background-color: #435f7b;
  color: #f5f5f5;
}
.admin-chat-message {
  background-color: #435f7b;
  color: #f5f5f5;
  padding: 10px 15px;
  border-radius: 20px;
}
.user-chat-message {
  background-color: #f5f5f5;
  color: #435f7b;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
}

.fs-25 {
  font-size: 25px;
}
.bg-dark-blue {
  background-color: #32465a;
}

#message {
  height: 40px;
}

.send-button {
  height: 40px;
  width: 40px;
}

.admin-chat-body {
  height: calc(100vh - 57px);
}

.h-100vh {
  height: 100vh;
}

.br-20 {
  border-radius: 20px;
}

.admin-users-chip {
  background-color: #435f7b;
  color: #f5f5f5;
}
